<div ng-controller="FormController">
    <h1 class="body-padding">Forms</h1>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#/form">Forms</a></li>
        <li role="presentation"><a href="form-fields.html">Fields</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="forms">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>&nbsp;Form name</th>
                    <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>&nbsp;Action</th>
                </tr>

                <tr>
                    <th>
                        <input type="text" ng-model="form.name" class="form-control" placeholder="name">
                    </th>

                    <th>
                        <div class="row">
                            <div class="col-xs-6">
                                <span ng-click="addForm()" class="glyphicon glyphicon-plus icon-class" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-6">
                                <span ng-click="updateForm()" class="glyphicon glyphicon-ok icon-class" aria-hidden="true"></span>
                            </div>
                        </div>
                    </th>
                </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="form in forms">
                        <td>
                            {{form.name}}
                        </td>

                        <td>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span ng-click="deleteForm($index)" class="glyphicon glyphicon-remove icon-class" aria-hidden="true"></span>
                                </div>
                                <div class="col-xs-6">
                                    <span ng-click="selectForm($index)" class="glyphicon glyphicon-pencil icon-class" aria-hidden="true"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="fields">


        </div>
    </div>
</div>