.row-full{
    max-width: 100%;
}

.body-padding{
    margin-top: 0px;
}

.nav>li>a:hover{
    background-color: #337ab7;
    color: #ffffff;
}

.navbar{
    border-radius: 0px;
}

.navbar .glyphicon:before{
    font-size: 12px;
}

.form-horizontal .control-label{
    text-align: left;
}

.icon-class{
    font-size: 28px;
    width: 100%;
    text-align: center;
}

.tab-panes-margin{
    margin-top: 25px;
}

.form-field-margin{
    padding-left: 0px;
}

hr{
    border: none;
    height: 1px;
    background-color: #333;
}

.row-width{
    width: 80%;
}

.display-error{
    color: red;
}

.top-buffer {
    margin-top: 5%;
}

ul {
    list-style-type: none;
}

.borderless td, .borderless th, .borderless tr {
    border: none;
}

.border-solid{
    border-style: solid;
}

body{
    background-color: white;
}

#toc, .noprint, .mw-editsection{
    display: none;
}

.home{
    background-image: url("../images/image1.jpg");
}