<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{model.timelineUser.profilePicture}}" align="center" width="200" height="200">
        </div>

        <div class="col-md-9">
            <h1>{{model.timelineUser.firstName}} {{model.timelineUser.lastName}}
                <button ng-show="model.followObject && model.timelineUser._id != user._id && model.follows" class="btn btn-success pull-right">
                        <span ng-click="model.unfollowUser(model.followObject._id)">
                            Following
                        </span>
                </button>

                <button ng-show="!model.follows && model.timelineUser._id != user._id" class="btn btn-default pull-right">
                        <span ng-click="model.followUser(model.timelineUser._id)">
                            Follow
                        </span>
                </button>
            </h1>
            <div>
                <p>
                    {{model.timelineUser.about}}
                </p>

                <p ng-show="user._id != null">
                    {{model.timelineUser.email}}
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 border-solid">
            <h4>Bookmarks:</h4>
            <ul>
                <li ng-repeat="bookmark in model.timelineUserBookmarks"><a href="#/destination/{{bookmark.title}}">{{bookmark.title}}</a></li>
            </ul>

            <br>

            <h4>Following:</h4>
            <ul>
                <li ng-repeat="member in model.timelineUserFollows"><a href="#/timeline/{{member.followUser._id}}">{{member.followUser.username}}</a></li>
            </ul>

            <br>

            <h4>Places visited/visiting:</h4>
            <ul>
                <li ng-repeat="visit in model.timelineUserVisits"><a href="#/destination/{{visit.title}}">{{visit.title}}</a> {{visit.dateVisiting | date : format : timezone}}</li>
            </ul>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <h2>Recent Updates</h2>
            <p ng-show="!model.updatesForUser">No updates found.</p>
            <div ng-repeat="update in model.updatesForUser">
                <h4><a href="#/timeline/{{update.userId._id}}">{{update.userId.username}}</a> posted review for <a href="#/destination/{{update.title}}">{{update.title}}</a></h4>
                on {{update.reviewDate | date : format : timezone}}
                <p>
                    {{update.content}}
                </p>
                <br>
            </div>
        </div>
    </div>
</div>