<div>
    <div class="row border-solid">
        <div class="col-md-3">
            <img src="{{model.timelineUser.profilePicture}}" align="center" width="200" height="200">
        </div>

        <div class="col-md-9">
            <h1>{{model.timelineUser.firstName}} {{model.timelineUser.lastName}}
                <button ng-show="model.following && model.timelineUser._id != user._id" class="btn btn-success pull-right">
                        <span ng-click="model.unfollowUser(model.timelineUser._id)">
                            Following
                        </span>
                </button>

                <button ng-show="!model.following && model.timelineUser._id != user._id" class="btn btn-default pull-right">
                        <span ng-click="model.followUser(model.timelineUser._id)">
                            Follow
                        </span>
                </button>
            </h1>
            <div>
                <p>
                    {{model.timelineUser.about}}
                </p>

                <p ng-show="user">
                    {{model.timelineUser.email}}
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 border-solid">
            <h4>Bookmarks:</h4>
            <ul>
                <li ng-repeat="bookmark in model.timelineUserBookmarks"><a href="#/destination/{{bookmark.title}}">{{bookmark.title}}</a></li>
            </ul>

            <br>

            <h4>Following:</h4>
            <ul>
                <li>Member 1</li>
                <li>Member 2</li>
                <li>Member 3</li>
            </ul>

            <br>

            <h4>Places visited/visiting:</h4>
            <ul>
                <li ng-repeat="visit in model.timelineUserVisits"><a href="#/destination/{{visit.title}}">{{visit.title}}</a> {{visit.dateVisiting | date : format : timezone}}</li>
            </ul>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <h2>Recent Updates</h2>
            <div>
                <h3>Member Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales .</p>
            </div>
            <br>
            <div>
                <h3>Member Name</h3>
                <ul>
                    <li>Member is visiting <a href="../destination/destination.view.html">PLACE</a> on 04/2016</li>
                </ul>
            </div>
        </div>
    </div>
</div>