.row-full{
    max-width: 100%;
}

.body-padding{
    margin-top: 0px;
}

.nav>li>a:hover{
    background-color: #337ab7;
    color: #ffffff;
}

.navbar{
    border-radius: 0px;
}

.navbar .glyphicon:before{
    font-size: 12px;
}