<div class="row home">
    <div class="col-sm-12 col-xs-12 col-md-12">
        <h1 align="center">Discover Amazing Places</h1>
    </div>
    <div class="col-sm-4 col-xs-12 col-md-4 col-md-offset-4 col-sm-offset-4 top-buffer">
        <div class="input-group">
            <input ng-model="searchInput" type="text" class="form-control col-xs-12" placeholder="Search for a destination">
            <span class="input-group-btn">
                <a href="#/search/{{searchInput}}"><button class="btn btn-default col-xs-12" type="button">Search!</button></a>
            </span>
        </div>
    </div>
</div>