<div>
    <div class="row row-full">
        <div class="col-xs-12 col-md-12">
            <h1 align="center">Backpack Buddy</h1>
        </div>
    </div>

    <div class="row row-full top-buffer">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <input ng-model="searchInput" type="text" class="form-control" placeholder="Search for a destination">
                        <span class="input-group-btn">
                            <a href="#/search/{{searchInput}}"><button class="btn btn-default" type="button">Search!</button></a>
                        </span>
            </div>
        </div>
    </div>
</div>