<div class="row home">
    <div class="col-sm-12 col-xs-12 col-md-12">
        <h1 align="center">Discover Amazing Places</h1>
    </div>

    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-lg-offset-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4">
        <div class="input-group">
            <input ng-model="searchInput" type="text" class="form-control" placeholder="Search for a destination">
            <span class="input-group-btn">
                <a href="#/search/{{searchInput}}"><button class="btn btn-default" type="button">Search!</button></a>
            </span>
        </div>
    </div>
</div>