<div>
    <h1>Search Results</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/47/boston.jpg" height="150" width="250">
        </div>
        <div class="col-md-9">
            <a href="../destination/destination.view.html"><h2>Boston</h2></a>
            <p>
                The capital of <b><a href="http://en.wikivoyage.org/wiki/Massachusetts#Massachusetts">Massachusetts</a></b> and de-facto capital of <b><a href="http://en.wikivoyage.org/wiki/New_England#New England">New England</a></b>, <b>Boston</b> is primarily known for three things: its academics, its sports, and its history. Its plethora of museums, historical sights, live performances, and a lively dining and shopping scene make it one of the most popular tourist destinations in the country. Boston is one of the few old American cities that has managed to preserve a respectable chunk of its history, with buildings that pre-date the republic dotted across the city. But Boston isn't a city to dwell
            </p>
        </div>
    </div>
</div>