<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row row-full">
                <div class="navbar-header col-md-6">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Backpack Buddy</a>
                </div>
                <!--<div class="col-md-4" align="center">-->
                    <!--<form class="navbar-form" role="search">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Boston">-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">Search</button>-->
                    <!--</form>-->
                <!--</div>-->

                <div class="col-md-6" align="right">
                    <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-9" aria-expanded="false">

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/profile">Profile</a></li>
                            <li><a href="" data-toggle="modal" data-target="#registerModal"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Register</a></li>
                            <li><a href="" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="loginModal" class="modal fade" role="dialog" ng-controller="LoginController">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputUsername3" class="col-sm-3 control-label">Username:</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="user.username" class="form-control" id="inputUsername3" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Password:</label>
                                <div class="col-sm-9">
                                    <input type="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-8 col-sm-4">
                                    <button type="submit" ng-click="loginModel.login(user.username, user.password)" class="btn btn-primary btn-default btn-block">Login</button>
                                </div>
                            </div>
                        </form>
                        <div class="display-error">
                            {{error}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="registerModal" class="modal fade" role="dialog" ng-controller="RegisterController">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 align="center" class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Username:</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="user.username" class="form-control" id="inputUsername3" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-9">
                                <input type="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Verify Password:</label>
                            <div class="col-sm-9">
                                <input type="password" ng-model="user.passwordConfirmation" class="form-control" id="inputPassword4" placeholder="Verify Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
                            <div class="col-sm-9">
                                <input type="email" ng-model="user.email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-9 col-sm-3">
                                <button type="submit" ng-click="registerModel.register(user.username, user.password, user.email)" class="btn btn-primary btn-default btn-block">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>