<div class="container" ng-controller="ProfileController">
    <h1 class="body-padding">Profile</h1>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Username:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="user.username" class="form-control" id="inputUsername3" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Password:</label>
            <div class="col-sm-9">
                <input type="password" ng-model="user.password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label for="firstName3" class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="user.firstName" class="form-control" id="firstName3" placeholder="First Name">
            </div>
        </div>

        <div class="form-group">
            <label for="lastName3" class="col-sm-3 control-label">Last Name:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="user.lastName" class="form-control" id="lastName3" placeholder="Last Name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <input type="email" ng-model="user.email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAbout" class="col-sm-3 control-label">About you:</label>
            <div class="col-sm-9">
                <textarea ng-model="user.about" class="form-control" id="inputAbout" placeholder="About you..."></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="inputImage" class="col-sm-3 control-label">Profile Picture Link:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="user.profilePicture" class="form-control" id="inputImage">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <button type="submit" ng-click="model.update(user)" class="btn btn-primary btn-default btn-block">Update</button>
            </div>
        </div>
    </form>
</div>