<div class="container destination">
    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="border-solid member-area">
                <h3>Members Visiting Destination</h3>
                <table ng-show="model.peopleVisiting" class="table borderless">
                    <tr ng-repeat="visit in model.peopleVisiting" align="center">
                        <td><a href="#/timeline/{{visit.userId._id}}">{{visit.userId.username}}</a></td>
                        <td>{{visit.dateVisiting | date : format : timezone}}</td>
                    </tr>
                </table>

                <p ng-show="!user">Please <a href="#/login">login</a> to see members visiting {{model.destinationDetails.parse.title}}</p>

                <h3>Visiting this Destination?</h3>
                <form class="form-horizontal">
                    <div>
                        <div class="col-sm-8 col-xs-12">
                            <input ng-model="visitDate" type="date" class="form-control" id="inputDate">
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <button ng-click="model.createVisit(model.destinationDetails.parse.title, model.destinationDetails.parse.pageid, visitDate)" type="submit" class="btn btn-default btn-block">Submit</button>
                        </div>
                    </div>
                </form>

                <a ng-click="gotoBottom()">Review this destination</a>
            </div>

            <h1>{{model.destinationDetails.parse.title}}
                <button ng-show="model.bookmarked" class="btn btn-success pull-right">
                    <span ng-click="model.removeBookmarkForPage(model.bookmark._id)">
                        Bookmarked
                    </span>
                </button>

                <button ng-show="!model.bookmarked" class="btn btn-default pull-right">
                    <span ng-click="model.bookmarkPage(model.destinationDetails.parse.title, model.destinationDetails.parse.pageid, user._id)">
                        Bookmark
                    </span>
                </button>
            </h1>
            <p ng-bind-html="model.destinationDetails.parse.text['*'] | unsafe"></p>
            <a href="https://en.wikivoyage.org/wiki/{{model.pageWikiURL}}" target="_blank">Know more at WikiVoyage</a>
        </div>
    </div>
    <br>

    <h2 id="review">Reviews</h2>
    <div ng-show="model.reviews">
        <div ng-repeat="review in model.reviews">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-xs-12">
                    <img src="{{review.userId.profilePicture}}" align="center" width="80" height="80">
                </div>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <a href="#/timeline/{{review.userId._id}}"><h3>{{review.userId.username}} {{review.reviewDate | date : format : timezone}}</h3></a>
                    <p>
                        {{review.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.reviews.length == 0">
        <p>No reviews posted. Be the first one!</p>
    </div>
    <br>
    <div class="row">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 col-xs-12">
                    <textarea ng-model="content" class="form-control" rows="3" placeholder="Add your review..."></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-9 col-sm-3 col-xs-12">
                    <button ng-click="model.createReviewForPage(model.destinationDetails.parse.title, model.destinationDetails.parse.pageid, content)" type="submit" class="btn btn-default btn-block">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>